.body {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 229, 229);
}

@media (max-width: 60em) {
  .body {
    width: 100%;
  }
}

@media (max-width: 48em) {
  .body {
    flex-direction: column-reverse;
  }
}
