.brewery-feature {
  width: 100%;
  min-height: 65rem;
  padding-top: 5rem;
  background-color: rgb(126, 124, 124);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brewery-main {
  padding-bottom: 1rem;
  width: 100%;
  background-color: rgb(126, 124, 124);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brewery-main h1 {
  font-size: 3.5rem;
  line-height: 1;
  padding: 1.6rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: orangered;
  color: white;
}

.brewery-main-info {
  font-size: 2rem;
  padding: 6rem 0;
  width: 80%;
  min-height: 40rem;
  border-radius: 20px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brewery-main-info p {
  margin-bottom: 1rem;
}

.address-link {
  color: orangered;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.address-link:hover {
  color: white;
}

.brewery-info {
  width: 100%;
  color: white;
  background-color: rgb(129, 113, 140);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.favorites-btn {
  font-size: 1.6rem;
  background-color: black;
  color: white;
  padding: .25rem;
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.favorites-btn:hover {
  cursor: pointer;
  color: orangered;
  background-color: white;
  border: 1px solid white;
}

.website {
   text-decoration: none;
  color: orangered;
}

.website:hover {
  cursor: pointer;
  color: white;
}

.default-message {
  margin-top: 10rem;
  color: white;
  text-align: center;
}

@media (max-width: 60em) {
  .brewery-main-info {
  font-size: 2rem;
  padding: 6rem 0;
  width: 95%;
  min-height: 35rem;
  border-radius: 20px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


}

@media (max-width: 48em) {
.brewery-feature {
  min-height: 20rem;
  padding-top: 0rem;
  background-color: black;
}

.brewery-main-info { 
  width: 100%;
  border-radius: 0;
}
}