*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif, Arial, Helvetica, sans-serif;
  line-height: 2.25rem;
}

p {
  font-size: 1.6rem;
}

@media (max-width: 69em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 17px;
}
